<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="cabecera">
    <div class="titulos">
      <p>{{nombreSalon}}</p>
      <p>{{nombreUsuario + " " +apellidoUsuario}}</p>
      <p>Seccion Turnos Completos</p>
    </div>
    <div class="segment">
      <ion-button (click)="goToTurnos()">Trunos</ion-button>
      <ion-button (click)="goToTurnosCompletos()">Completos</ion-button>
      <ion-button (click)="goToBalanceTurnos()">Balance</ion-button>
      
    </div>
  </div>
  <div class="contenido">
    <div class="contenidoDiario">
      <div class="calendario">
        <p>{{formatedDay}}</p>
        <p>{{formatedMoth}}</p>
        <ion-button fill="clear" id="open-date-input-6">
          <ion-icon icon="calendar"></ion-icon>
        </ion-button>
        <ion-popover trigger="open-date-input-6" show-backdrop="false" >
          <ng-template>
            <ion-datetime 
            #popoverDatetime6 
            presentation="date"
            (ionChange)="SelectDate(popoverDatetime6.value)"></ion-datetime>
          </ng-template>
        </ion-popover>
      </div>
      <div class="seccionTurnos">
        <ion-card *ngFor="let t of listaTurnosCompletos">
          <div class="contentCard">
              <div class="infoClientes">
                <div class="fechaHora">
                  <p>Dia: {{t.fechaTurno}}</p>
                  <p>Hora: {{t.horarioTurno}}</p>
                </div>
                <div class="infoCliente">
                  <p>Cliente: {{t.nombreCliente + "  " +t.apellidoCliente}}</p>
                </div>
              </div>
                <ion-buttons class="buttonsUpDelete">
                  <ion-button (click)="deleteTurno(t._id)"><ion-icon  class="iconoEliminar" name="trash"></ion-icon></ion-button>
                </ion-buttons>         
          </div>
          <ion-buttons class="buttonCompletar">
            <ion-button color="primary" (click)="masDetalles(t._id,t.nombreCliente,t.apellidoCliente,t.fechaTurno,t.horarioTurno,t.realizadoPor,t.userId,t.monto,t.observaciones)">Mas Detalles</ion-button>
          </ion-buttons>
        </ion-card>
      </div>
    </div>
  </div>
</ion-content>


