<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="cabecera">
    <div class="titulos">
      <p>{{nombreSalon}}</p>
      <p>Balance de peluqueria</p>
    </div>
    <div class="segment">
      <ion-button (click)="goToTurnos()">Trunos</ion-button>
      <ion-button (click)="goToTurnosCompletos()">Completos</ion-button>
      <ion-button (click)="goToBalanceTurnos()">Balance</ion-button>
    </div>
  </div>
  <div class="contenido">
    <div class="contenidoDiario">
      <div class="calendario">
        <p>{{formatedDay}}</p>
        <p>{{formatedMoth}}</p>
        <ion-button fill="clear" id="open-date-input-1">
          <ion-icon icon="calendar"></ion-icon>
        </ion-button>
        <ion-popover trigger="open-date-input-1" show-backdrop="false">
          <ng-template>
            <ion-datetime
              #popoverDatetimeBalance
              presentation="date"
              (ionChange)="formatDateSelectedByMoment(popoverDatetimeBalance.value)"
              (ionChange)="fechaSeleccionada = getIngresosTurnosByDateSelect(popoverDatetimeBalance.value)"
              (ionChange)="fechaSeleccionada = getEgresosTurnosByDateSelect(popoverDatetimeBalance.value)"
            ></ion-datetime>
          </ng-template>
        </ion-popover>
      </div>
      <div class="balance">
        <ion-card>
          <div class="total">
            <p>Resumen del dia</p>
            <p>${{totalIngresos - totalGastos}}</p>
          </div>
          <div class="resumen">
            <p class="ventas">Total ventas</p>
            <p>${{totalIngresos}}</p>
            <p class="gastos">Total gastos</p>
            <p>${{totalGastos}}</p>
          </div>
        </ion-card>
      </div>
      <div class="ResumenDia">
        <ion-card
          (click)="mostrarInfoDia()"
          [ngClass]="{'gray':selectedDay == true}"
        >
          <div class="dia">
            <p>{{formatedDay}}</p>
            <p>{{formatedMoth}}</p>
            <p>{{anioActual}}</p>
          </div>
          <div class="totaldia"></div>
        </ion-card>
        <div *ngFor="let t of listTurnosCompletos" class="Caja">
          <ion-card >
            <p>{{t.nombreCliente + ' ' +t.apellidoCliente}}</p>
            <p class="textoVenta">$ {{t.monto}}</p>
            <ion-button fill="clear" 
              (click)="deleteIngreso(t._id)"
              ><ion-icon
                class="icon"
                color="danger"
                name="trash-sharp"
                
              ></ion-icon
            ></ion-button>
          </ion-card>
        </div>
        <div *ngFor="let t of listGastos" class="Caja">
          <ion-card >
            <p>{{t.concepto}}</p>
            <p class="textoGasto">$ {{t.monto}}</p>
            <ion-button fill="clear" 
              (click)="deleteEgreso(t._id)"
              ><ion-icon
                class="icon"
                color="danger"
                name="trash-sharp"
                
              ></ion-icon
            ></ion-button>
          </ion-card>
        </div>
      </div>
    </div>
  </div>
</ion-content>
<ion-footer>
  <ion-button (click)="agregarEgreso()">Agregar un egreso</ion-button>
 
</ion-footer>