
*{
    font-family: 'Poppins', sans-serif;
}
ion-content{
    .imgW{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 300px;
            margin-top: 100px;
        }
    }

    .texto{
        width: 100%;
        display: flex;
        justify-content: center;
        .textoText{
            width: 80%;
            color: gray;
            text-align: center;
        }
    }

    .title{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 40px;
        .titleText{
            width: 80%;
            
            h3{
                text-align: center;
                font-weight: bold;
                color: #298295;
                
            }
        }
       
    }
    .buttons{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 100px;
        ion-button{
            width: 80%;
            --border-radius: 90px;
        }
    }

  .inputNombre{
    width: 100%;
    display: flex;
    justify-content: center;
    ion-item{
        width: 80%;
    }
  }

} 






