<ion-content>
  <ion-toolbar>
    <div class="logo">
      <img src="/assets/logo.png" alt="">
    </div>
    <div class="title">
      <p>Login</p>
    </div>
  </ion-toolbar>

  <div class="formRegister">
    <ion-item>
      <ion-input placeholder="Mail" [(ngModel)]="usuario.email"></ion-input>
      <ion-icon name="mail" item-start class="text-primary"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Contraseña" type="password" [(ngModel)]="usuario.password"></ion-input>
      <ion-icon name="key"></ion-icon>
    </ion-item>
    <ion-button (click)="login()" >Ingresar</ion-button>
  </div>

  <p class="haveAccount">¿No tenes una cuenta? <span [routerLink]="['/register']">Registrate.</span></p>
</ion-content>

