
<ion-content>
  <div class="contenido">
    <ion-card>
      <h5>Inicie sesion</h5>
      <ion-item>
        <ion-label position="floating">Usuario</ion-label>
        <ion-input></ion-input>
        <ion-icon name="person-circle-sharp" slot="end"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Usuario</ion-label>
        <ion-input></ion-input>
        <ion-icon name="person-circle-sharp" slot="end"></ion-icon>
      </ion-item>
    </ion-card>
  </div>
</ion-content>
