<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <div class="cabecera">
      <div class="titulos">
        <p></p>
        <p>Seccion Usuarios</p>
      </div>
    </div>
    <div class="contenido">
      <div class="contenidoUsuarios">
        <div class="listUsuarios">
            <p>Aún no tienes Usuarios Agregados.</p>
        </div>
      </div>
      
    </div>
  </ion-content>
  
  <ion-footer>
    <ion-button>Agregar un Usuario</ion-button>
    
  </ion-footer>
  